{% extends 'base.html' %}
{% block content %}
 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Motor Shop</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
<p align="justify">
 We are a business team selling first-class motorcycles that export Hud products all over the world, even Iran.
                        (This site only sells S class motorcycles!).
You can also sell your motorcycles in future updates so that they can be used by other brands as secondary products.



                    </div>
                </center>
            </div>
        </div>
{% endblock %}