{% extends 'base.html' %}
{% block content %}
 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Login</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Log In To Your Account</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">

                        <br></br>

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}

  <div class="mb-3">

    <input type="text" class="form-control" name="username" placeholder="Enter Your Username">

  </div>
  <div class="mb-3">

    <input type="password" class="form-control" name="password" placeholder="Enter Your password">
  </div>
  <br/><br/>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-secondary">Login</button>
</form>

<br/><br/>
<br/><br/>
<br/><br/>





<p align="justify">
 We are a business team selling first-class motorcycles that export Hud products all over the world, even Iran.
                        (This site only sells S class motorcycles!).
You can also sell your motorcycles in future updates so that they can be used by other brands as secondary products.



                    </div>
                </center>
            </div>
        </div>
{% endblock %}